/**
 * Hogan Gallery - Grid
 */

.hogan-gallery-grid {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	margin: 0 -5px;

	.hogan-gallery-cell {
		flex: 0 0 calc( 33.3333333% - 10px );
		margin: 5px;
	}

	img {
		width: 100%;
	}
}

@media screen and ( min-width: 700px ) {
	.hogan-gallery-grid {
		margin: 0 -10px;

		.hogan-gallery-cell {
			flex: 0 0 calc( 25% - 20px );
			margin: 10px;
		}
	}
}

@media screen and ( min-width: 1200px ) {
	.hogan-gallery-grid {
		margin: 0 -15px;

		.hogan-gallery-cell {
			flex: 0 0 calc( 25% - 30px );
			margin: 15px;
		}
	}
}

@media screen and ( min-width: 1400px ) {
	.hogan-gallery-grid .hogan-gallery-cell {
		flex: 0 0 calc( 20% - 30px );
	}
}
